/* Corpo de todas as Divs e suas Tags */
body {
     margin: 0;
     padding: 0;
     font-family: sans-serif;
     background-color: #383a59;
     background-size: cover;
}

/* Corpo da caixa de login */
.login-caixa {
     width: 320px;
     height: 400px;
     background: #000;
     color: #fff;
     box-shadow: 3px 3px #000000b0;
     position: absolute;
     top: 20%;
     left: 36%;
     box-sizing: border-box;
     padding: 70px 30px;
     opacity: .7;
     border-radius: 9px;
}

/* Títulos dos inputs */
.login-caixa p {
     margin: 0;
     padding: 0;
     font-weight: bold;
}

/* Corpo dos inputs */
.login-caixa input {
     width: 100%;
     margin-bottom: 20px;
}

/* Estilo dos inputs */
.login-caixa input[type="text"], input[type="password"] {
     border: none;
     border-bottom: 1px solid rgb(59, 58, 58);
     opacity: .7;
     background: transparent;
     height: 40px;
     outline: none;
     color: #fff;
     font-size: 16px;
}

/* Corpo e estilo do botão de confirmação (login) */
.login-caixa input[type="submit"] {
     border: none;
     outline: none;
     height: 40px;
     background: #8647ce;
     border-radius: 20px;
     font-size: 18px;
     color: #fff;
}

/* Efeito ao passar o mouse por cima do botão de confirmação (login) */
.login-caixa input[type="submit"]:hover {
     cursor: pointer;
     background: #542f80;
     color: #000;
}

/* Estilo do link para enviar a página de recuperação de senha */
.login-caixa a {
     text-decoration: none;
     font-size: 12px;
     line-height: 60px;
     color: darkgrey;
}

/* Efeito ao passar o mouse por cima do link de recuperação de senha */
.login-caixa a:hover {
     color: rgb(151, 83, 196);
     text-decoration: underline;
}

/* Footer do Website (parte final) */
.footer {
     position: absolute;
     bottom: 1em;
     left: 32em;
     font-family: 'Courier New', Courier, monospace;
}

/* Link para redirecionar ao meu GitHub */
.footer a {
     text-decoration: none;
     color: #ba88f8;
     font-family: 'Courier New', Courier, monospace;
}

/* Título do Login */
h1 {
     position: absolute;
     left: 17em;
     top: 2em;
     font-size: 30px;
     color: #ba88f8;
}
